[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=DE
ST=Berlin
L=Berlin
O=Kaulsdorf IT Solutions GmbH & Co. KGTraining
OU=Kaulsdorf IT Solutions GmbH & Co. KG
emailAddress=guido.drahota@kaulsdorf-it-solutions.de
CN = localhost
